.mine {
    margin: 50px auto;
}

.level {
    text-align: center;
    margin-bottom: 10px;
}

.level button {
    padding: 5px 15px;
    background: #02a4ad;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.level button.active {
    background: #00abff;
}

.info {
    margin: 10px auto;
    text-align: center;
}

table {
    border-spacing: 1px;
    background: #929196;
    margin: 0 auto;
}

td {
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #bbb;
    border: 2px solid;
    border-color: #fff #a1a1a1 #a1a1a1 #fff;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.mine-item {
    background: #d9d9d9 url("../img/mine.png") no-repeat center center / cover;
}

.flag {
    background: #d9d9d9 url("../img/flag.png") no-repeat center center / cover;
}

td.zero {
    border-color: #d9d9d9;
    background: #d9d9d9;
}

td.one {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #0332fe;
}

td.two {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #019f02;
}

td.three {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #ff2600;
}

td.four {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #93208f;
}

td.five {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #ff7f29;
}

td.six {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #ff3fff;
}

td.seven {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #3fffbf;
}

td.eight {
    border-color: #d9d9d9;
    background: #d9d9d9;
    color: #22ee0f;
}